# Composer dependencies
/vendor/
composer.phar

# PHPUnit
/.phpunit.result.cache
/phpunit.xml.dist
/coverage/

# Environment files
.env
.env.local
.env.*.local
.venv

# IDE files
/.idea/
/.vscode/*                    # Ignore everything in .vscode...
!/.vscode/launch.json         # ...except these files
!/.vscode/settings.json
!/.vscode/extensions.json
*.code-workspace
.favorites.json
*.sublime-project
*.sublime-project
*.sublime-workspace
.project
.buildpath
.settings/

# Backup and copy files
*copy.php
*copy.md
* copy.*
*copy*
* old.*
*old.php
*Database/temssssp.md*


# Development notes and scratch files
**/scratchfile.php
**/_external_scrap
_external_scrap/*.*
**/__*.md
**/The LIES.md
**/notes.md
# Scrap folder
_scrap/
_sxxcrap/
scratch*.*
aaa.txt

# Multiple versions of files (if needed)
src/Core/Constants/Consts2.php

# System files
.DS_Store
Thumbs.db
*.log

# Cache and logs
/var/cache/*
/var/logs/*
/texmp/*
logs
/_external_scrap/*

# User uploaded content (if applicable)
/public/uploads/*
!/public/uploads/.gitkeep

# Built assets
/public/build/
/public/assets/
/node_modules/
MVCLixo Framework Development Plan.md
MVCLixo Form System -  Our two Architectural Patterns Aproach - Login vs Contact
scratch.md
bin/a.txt
src/App/Features/Account/xxx.txt
src/public_html/assets/docs/xampp - database corruption.md
src/public_html/assets/docs/Captcha Plan.md
src/public_html/assets/docs/catchcha.md
.gitattributes
src/public_html/assets/docs/HowToWhatever.md
mid.md
src/public_html/assets/docs/_.md
src/App/Features/Contact/Views/index old.php
src/App/Features/Account/xxx.md
src/Core/Constants/notes.md
:/xampp/htdocs/my_projects/_sxxcrap
_scrap
:/xampp/htdocs/my_projects/_external_scrap
# ols shit, saving just incase
old_shit
src/public_html/assets/js/aaaa.md

src/Generated
src/Database/temp.php
src/Database/temp.md
src/App/Repository/temp
src_crap/

blank.*
blank.php
_testy_list_fields*
src/Core/Form/Validation/temp.php
