        bodyx {
            margin: 20px;
            background-color: peachpuff;
        }

        nav ul {
            display: flex;
            gap: 20px;
            list-style-type: none;
            background-color: #333;
        }

        nav li a {

            display: block;
            text-align: center;
            color: white;
            padding: 16px 18px;
            text-decoration: none;
            background-color: grey;
        }

        /* nav li:last-child {
            background-color: red;
        } */

        /* NEW: Style the container for the last two items */
        .last-items-container {
            margin-left: auto; /* Push the container to the right */
            display: flex; /* Ensure items are side-by-side */
            gap: 20px; /* Match the gap of the nav ul */
        }
        h1 {
            margin: auto;
        }

        a:active {
            font-size: large;
            font-weight: bolder;
        }

        a:hover {
            background-color: darkgrey;
        }

        .menu-category {
            font-weight: bold;
            color: #666;
            padding: 5px 10px;
            margin-top: 10px;
            font-size: 0.9em;
            text-transform: uppercase;
            border-bottom: 1px solid #eee;
        }